# Ignore node_modules folder (for Node.js projects)
node_modules/

# Ignore environment files
.env

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore compiled files
*.class
*.pyc
*.o

# Ignore IDE/editor-specific folders
.vscode/
.idea/

# Ignore build/ and dist/ folders
build/
dist/

# Ignore coverage reports
coverage/

# Ignore temporary files
*.tmp
*.swp

*.png
tf_env/
.env
__pycache__/
*.pyc
